@inject IJSRuntime JSRuntime

<div class="col mod" align="center">
    <div><img class="@Model.GetStyle()" src="images/mods/@(Model.Image)" @onmouseover="MouseOver" @onmouseout="MouseOut" @onclick="Click" /></div>
    <span class="mod-name @(Model.Fade ? "faded" : "")">@Model.Name</span>            
</div> 

@code {

    [Parameter]
    public ArchnemesisModViewModel Model { get; set; }
    [Parameter]
    public Action<ArchnemesisModViewModel, MouseEventArgs> OnHighlightHandler { get; set; }

    void MouseOver(MouseEventArgs e)
    {
        Model.MouseOver = true;
        OnHighlightHandler(Model, null);
    }

    void MouseOut(MouseEventArgs e)
    {           
        Model.MouseOver = false;
        OnHighlightHandler(Model, null);
    }

    async void Click(MouseEventArgs e)
    {
        if (e.Detail > 1)
        {
            await JSRuntime.InvokeVoidAsync("copyClipboard", $"^{Model.Regex}");
        }
        else
        {
            Model.Selected = !Model.Selected;
            OnHighlightHandler(Model, e);    
        }                                    
    }
}
