<div class="col mod" align="center">
    <div><img class="@Model.Style" src="images/@(Model.Image)" @onmouseover="MouseOver" @onmouseout="MouseOut" @onclick="Click" /></div>
    <span class="mod-name">@Model.Name</span>            
</div> 

@code {

    [Parameter]
    public ArchnemesisModViewModel Model { get; set; }
    [Parameter]
    public Action<ArchnemesisModViewModel, MouseEventArgs> OnHighlightHandler { get; set; }

    private bool _keepHighlighted;

    void MouseOver(MouseEventArgs e)
    {
        Model.MouseOver = true;
        OnHighlightHandler(Model, null);
    }

    void MouseOut(MouseEventArgs e)
    {           
        Model.MouseOver = false;
        OnHighlightHandler(Model, null);
    }

    void Click(MouseEventArgs e)
    {
        Model.Selected = !Model.Selected;
        OnHighlightHandler(Model, e);
    }
}
