<img class="archnemesis-icon @ImageStyles" src="images/archnemesis/@(Model.Image)"/>@if(ShowName) { <span class="ms-2 @NameStyles">@Model.Name</span> }

@code {
    [Parameter]
    public ArchnemesisModViewModel Model { get; set; }

    [Parameter]
    public string ImageStyles { get; set; }

    [Parameter]
    public string NameStyles { get; set; }

    [Parameter]
    public bool ShowName { get; set; }
}
