<img class="@AdditonalStyles" src="images/mods/@(Model.Image)"/>@if(ShowName) { <span class="pl-2">@Model.Name</span> }

@code {
    [Parameter]
    public ArchnemesisModViewModel Model { get; set; }

    [Parameter]
    public string AdditonalStyles { get; set; }

    [Parameter]
    public bool ShowName { get; set; }
}
