.map-container {
    position: relative;
}

.map-container img {
    height: 58px;
    width: 58px;

}

.underlay {
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

img.high-tier {
    filter: grayscale(1) invert(1) invert(9%) sepia(95%) saturate(7312%) hue-rotate(7deg) brightness(90%) contrast(111%); /*convert to red --corrupted-color)*/
}

img.mid-tier {
    filter: grayscale(1) invert(1) invert(76%) sepia(63%) saturate(332%) hue-rotate(353deg) brightness(105%) contrast(91%); /*convert to yellow --rare-color)*/
}

img.low-tier {
    filter: none;
}

div.high-tier {
    color: red;
}

div.mid-tier {
    color: yellow;
}

div.low-tier {
    color: initial
}

.map-name {
    text-align: center;
    overflow-wrap: anywhere;
}