<div id="@Model.GetElementId()" class="col mod" align="center">    
    <div class="row">
        <div class="col">
            <img src="images/maps/@(Model.Source)"/>
        </div>
    </div>
    <div class="row"><span class="mod-name">@Model.Name</span></div>   
</div> 

@code {

    [Parameter]
    public Map Model { get; set; }    
}
