@if (Maps.Any())
{
    <div class="row pb-1">
        <span class="rewards underline">Most common maps</span>
    </div>
    <div class="d-flex flex-row pb-2">
    @foreach (var map in Maps)
    {
        <MapContainer Model=map />        
    }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<Map> Maps { get; set; }    
}
