@foreach (var tier in Mods?.GroupBy(x => x.ModTier).OrderBy(x => x.Key))
{
    <div class="row">
        <div class="col" align="center">
                <h3>Tier @tier.Key</h3>
        </div>
    </div>
    <div class="row justify-content-center">
    @foreach (var mod in tier.OrderBy(x => x.Name))
    {
        <ArchnemesisModTemplate Model=mod OnClick=OnClick OnMouseOver=OnMouseOver />
    }
    </div>
}

@code {
    [Parameter]
    public List<ArchnemesisModViewModel> Mods { get; set; } = new();

    [Parameter]
    public Action<ArchnemesisModViewModel, MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public Action<ArchnemesisModViewModel, MouseEventArgs> OnMouseOver { get; set; }
}