<div id="mod-tier-@Tier">
    <div class="row">
        <div class="col" align="center">
            <h3 class="@getClass()"  @onclick="() => _expand = !_expand">Tier @Tier</h3>
        </div>
    </div>
    <div class="row justify-content-center @getClass()">
        @Content
    </div>
</div>

@code {
    [Parameter]
    public int Tier { get; set; }
    [Parameter]
    public RenderFragment Content { get; set; }

    private string getClass() => _expand ? "expanded" : "collapsed";

    private bool _expand = true;
}
