.row {
    border-bottom: 1px #aa9e82 solid;    
}

.row:last-child {
    border-bottom: none;
}

.col-8 {
    border-left: 1px #aa9e82 solid;
}

span {
    white-space: unset;
    overflow: hidden;
    text-overflow: ellipsis;
}

.completed {
    filter: grayscale(100%);
    color: var(--normal-color);
    text-decoration: line-through;
}

.no-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}