<div class="row align-items-center">
    @if (Node.Components.Any())
    {
        <div class="col-4" align="center">                        
            <img src="images/mods/@(Node.Image)" /><br/>
            <span class="mod-name small">@Node.Name</span>
        </div>
        <div class="col-8">
            @foreach (var child in Node.Components)
            {
                <RecipeNode @key=child Node=child></RecipeNode>
            }
        </div>
    }
    else
    {
        <div class="col-auto">
            <img class="medium-image" src="images/mods/@(Node.Image)">
            <span class="pl-2 mod-name">@Node.Name</span>            
        </div>    
    }
</div>

@code {
    [Parameter]
    public RecipeComponentViewModel Node { get; set; }    
}