@if (Recipe is not null)
{
    <div>
        <h5 class="rewards">Calculated Rewards:</h5>                            
        <ul>
        @foreach (var (images, modifier) in Recipe.CalculateRewards())
        {
            <li>
                <div class="d-inline-flex flex-row">
                    <div class="py-1 px-2 normal">
                    @foreach (var img in images)
                    {
                        @((MarkupString)img);
                    }   
                    </div>
                    <div class="py-1 px-2 normal">
                        @modifier
                    </div>
                </div> 
            </li>
        }
        </ul>
    </div>    
}


@code {
    [Parameter]
    public RecipeViewModel Recipe { get; set; }
}
