@inject IJSRuntime JSRuntime

@if (_model is not null)
{
    <div id="component-tooltip" class="tooltip-container p-2">    
        <ModDetails Model=_model />
    </div>
}

@code {
    //[Parameter]
    private ArchnemesisModViewModel _model { get; set; }

    public async void SetModel(ArchnemesisModViewModel model)
    {
        _model = model;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("positionTooltip", _model?.GetElementId(), _model != null);
        }
    }
}
