.tooltip-container {
    border: 1px solid #aa9e82;
    background: #222;
    opacity: 0;
    position: absolute;
    display: inline-block;
    width: auto;
    max-width: 25%;
    height: auto;
    z-index: 1000;
}