<div class="row" @onmouseup="(e) => Click(e)">
    <div class="col-md-auto">
        <div class="@_completed">
            <span class="effects">@Model.Count x</span><Image Model=Model.Component AdditonalStyles="small-image"></Image><span class="mod">@Model.Component.Name</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RecipeComponentViewModel Model { get; set; }


    [Parameter]
    public EventCallback OnChange { get; set; }

    private string _completed => (Model.Count <= 0) ? "done" : "";

    private async void Click(MouseEventArgs e)
    {
        if (e.Button == 0)
        {
            if (Model.Count == 0) return;
            Model.Count--;    
        }
        else
        {
            Model.Count++;
        }

        await OnChange.InvokeAsync();
    }
}