<div class="row">
    <div class="row">
        <div class="col">
            @if (ShowNameAsHeader)
            {
                <h6 class="mod-name">
                    <Image Model=Model AdditonalStyles="medium-image" ShowName=true></Image>
                </h6>
            }
            else
            {
                <span class="mod">
                    <Image Model=Model AdditonalStyles="small-image" ShowName=true></Image>
                </span>
            }            
            <div class="row ml-1">
            @if(Model.Components.Any())
            {
                <span class="effects">builds from:</span>    
                @foreach (var mod in Model.Components)
                {
                    <RequiredForMod Model=mod ShowNameAsHeader=true />
                }
            }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ArchnemesisModViewModel Model { get; set; }

    [Parameter]
    public bool ShowNameAsHeader { get; set; }
}
